@model kiemtra.Models.DienThoai
@{
    ViewBag.Title = "ChiTietSanpham";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>ChiTietSP</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaDienThoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaDienThoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaThuongHieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaThuongHieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenDienThoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDienThoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChietKhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChietKhau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SPMoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SPMoi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SPBanChay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SPBanChay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Anh)
        </dt>

        <dd>
            <img src="~/Content/image/@Model.Anh" alt="Alternate Text" />
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Create", "Create") |
    @Html.ActionLink("Back to List", "Index")
</p>

